doctype html
html
	head
		meta(charset='utf-8')
		title Track name
	body
		form(action='/trackname', method='post')
			label Please enter you name:
			input(type='text', name='username')
			button(type='submit') Submit